* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#__next {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button {
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

/* Animation States */
.spawned {
  animation: popIn 0.3s ease-in;
}
.opened {
  display: flex;
  justify-content: center;
}
.opened .left {
  animation: breakLeft 0.5s ease-in forwards;
}
.opened .right {
  animation: breakRight 0.5s ease-in forwards;
}
.opened .fc-crumbs {
  animation: fallOut 0.5s ease-in forwards;
}
.opened .fc-fortune {
  animation: foldOut 0.5s ease-in forwards;
}

/* Animations */
@keyframes popIn {
  from {
    transform: scale(0);
  }
  75% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}
@keyframes breakLeft {
  from {
    transform: translateX(0) rotate(25deg);
    opacity: 1;
  }
  30%,
  40% {
    transform: translateX(0) rotate(55deg);
    opacity: 0.8;
  }
  70%,
  80% {
    transform: translateX(-16em) rotate(50deg);
    opacity: 0.5;
  }
  to {
    opacity: 1;
    transform: translateX(-16em) rotate(50deg);
  }
}
@keyframes breakRight {
  from {
    transform: translateX(0) rotate(-25deg);
    opacity: 1;
  }
  30%,
  40% {
    transform: translateX(0) rotate(-55deg);
    opacity: 0.8;
  }
  70%,
  80% {
    transform: translateX(16em) rotate(-50deg);
    opacity: 0.5;
  }
  to {
    opacity: 1;
    transform: translateX(16em) rotate(-50deg);
  }
}
@keyframes fallOut {
  from {
    left: calc(50% - 0.4em);
    width: 0.8em;
    transform: translateY(0);
  }
  30% {
    opacity: 1;
  }
  60%,
  to {
    opacity: 0;
    left: calc(50% - 3em);
    width: 6em;
    transform: translateY(24em);
  }
}
@keyframes foldOut {
  from {
    transform: scale(0.5, 0.9);
    opacity: 0;
  }
  30%,
  40% {
    transform: scale(0.7, 0.9);
    opacity: 0.1;
  }
  69% {
    transform: scale(0.9, 0.9);
    opacity: 0.7;
  }
  74%,
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}
